<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webill.core.service.mapper.CustomerMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, real_name AS realName, id_no AS idNo, mobile_no AS mobileNo, user_id AS userId, com_id AS comId, home_addr AS homeAddr, home_addr_code AS homeAddrCode, home_addr_detail AS homeAddrDetail, home_tel AS homeTel, work_addr AS workAddr, work_addr_code AS workAddrCode, work_addr_detail AS workAddrDetail, work_tel AS workTel, service_pwd AS servicePwd, refresh_times AS refreshTimes, latest_report_key AS latestReportKey, latest_report_type AS latestReportType, tem_report_type AS temReportType, latest_report_time AS latestReportTime, latest_jxl_rep_status AS latestJxlRepStatus, latest_dhb_rep_status AS latestDhbRepStatus, latest_report_status AS latestReportStatus, t_status AS tStatus, updated_time AS updatedTime, created_time AS createdTime
	</sql>
	<sql id="C_Base_Column_List">
		c.id, c.real_name AS realName, c.id_no AS idNo, c.mobile_no AS mobileNo, c.user_id AS userId, c.com_id AS comId, c.home_addr AS homeAddr, c.home_addr_code AS homeAddrCode, c.home_addr_detail AS homeAddrDetail, c.home_tel AS homeTel, c.work_addr AS workAddr, c.work_addr_code AS workAddrCode, c.work_addr_detail AS workAddrDetail, c.work_tel AS workTel, c.service_pwd AS servicePwd, c.refresh_times AS refreshTimes, c.latest_report_key AS latestReportKey, c.latest_report_type AS latestReportType, c.tem_report_type AS temReportType, c.latest_report_time AS latestReportTime, c.latest_jxl_rep_status AS latestJxlRepStatus, c.latest_dhb_rep_status AS latestDhbRepStatus, c.latest_report_status AS latestReportStatus, c.t_status AS tStatus, c.updated_time AS updatedTime, c.created_time AS createdTime
	</sql>
	
	<select id="getCusList" resultType="com.webill.core.model.Customer">
		SELECT
			<include refid="C_Base_Column_List"></include>
		FROM
			t_customer c
		WHERE 1=1 AND c.user_id = #{userId} and latest_report_status IS NOT NULL
		<if test="realName != null and realName != ''">
			AND c.real_name LIKE concat(concat('%',#{realName}),'%')
		</if>	
		<if test="mobileNo != null and mobileNo != ''">
			AND c.mobile_no LIKE concat(concat('%',#{mobileNo}),'%')
		</if>
		<if test="idNo != null and idNo != ''">
			AND c.id_no LIKE concat(concat('%',#{idNo}),'%')
		</if>
		<if test="latestReportStatus != null and latestReportStatus != '' or latestReportStatus==0">
			AND c.latest_report_status = #{latestReportStatus}
		</if>
		<if test="latestReportType != null and latestReportType != ''  or latestReportType==0">
			AND c.latest_report_type = #{latestReportType}
		</if>
		<if test="timeFrom!=null and timeFrom!='' ">
			AND tl.latest_report_time &gt;= str_to_date('${timeFrom} 00:00:00','%Y-%m-%d %H:%i:%s')
		</if>
		<if test="timeFrom!=null and timeFrom!='' ">
			AND tl.latest_report_time &lt;= str_to_date('${timeFrom} 23:59:59','%Y-%m-%d %H:%i:%s')
		</if>
		<if test="sortWay == 1">
			ORDER BY c.latest_report_time DESC
		</if>
		<if test="sortWay == 2">
			ORDER BY c.refresh_times DESC
		</if>
	</select>
</mapper>