<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webill.core.service.mapper.ShownCarMapper" >
  <sql id="Base_Column_List" >
    id, user_id AS userId, car_ids AS carIds,  created_time AS createdTime
  </sql>
  
  <select id="selectPremiumListByMap" resultType="com.webill.core.model.ShownCar" parameterType="map">
  </select>
</mapper>