<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webill.core.service.mapper.UserContactMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, user_id AS userId, contact_name AS contactName,mobile, email, is_default AS isDefault, province, city, area, address,t_status AS tStatus,created_time AS createdTime
	</sql>
	<select id="checkMobileIsExist" parameterType="string" resultType="Integer">
		SELECT
			count(1)
		FROM
			user_contact
		<where>
			(`t_status` = 1)
			<if test="_parameter!=null and _parameter!=''">
				and mobile = #{_parameter}
			</if>
		</where>
	</select>
	<select id="getUserContact" parameterType="Map" resultType="com.webill.core.model.UserContact">
		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			user_contact
		<where>
			(t_status = 1 OR t_status = 0)
			<if test="userId!=null and userId!=''">
				and user_id = #{userId}
			</if>
		</where>
	</select>	

</mapper>